# Python
__pycache__/
*.pyc
*.pyo
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Temporary files
*.tmp

# Questa / ModelSim generated libraries
work/
**/work/

# Questa database artifacts
*.qdb
*.qpg
*.qtl

